.main-content {
    width: 100%;
    font-family: sans-serif;
    font-size: smaller;
}

.patch-container {
    display: table;
    vertical-align: center;
}

#cluster {
    padding: 10px;
    float: left;
    min-width: 48%;
    min-height: 500px;

    border-style: solid;
    border-width: 2px;
    border-color: green;
}

#gallery {
    margin-left: 3px;
    padding: 10px;
    float: left;
    min-height: 500px;

    border-style: solid;
    border-width: 2px;
    border-color: blue;
}

.image-patch {
    display: table-cell;
    padding: 10px;
}

.patch-hover {
    border-style: solid;
    border-color: green;
    border-width: 3px;
    margin: -3px;
}

.patch-row {
    display: table-row;
}

#button-panel {
    padding-top: 10px;
    float: left;
    clear: left;
}